/*
.img{
	background-image: url(Images/Hibiscus-farming-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #333333;
	background-blend-mode: overlay;
}
*/
*{
	font-size: 20px;
}
body{
	background-color: black !important;
}
.timg{
	background-image: url(Images/2bg.png);
	background-size: cover;
	background-color: black ;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #000;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: 15px;
  font-family:cursive
}
.hrbb{
	border: 2px solid darkred;
	margin: 0px;
	width: 100%;
}
.nav-masthead .nav-link:hover{
	color: darkred;
	transform: scale(1.1);
}
.nav-masthead .nav-link:active {
	border-bottom-color: darkred;
	color: darkred;
	text-shadow: 0 .01rem .1rem rgba(255, 255, 255, .5);
}
.nav-masthead .nav-link:focus{
	border-bottom-color: darkred;
	color: darkred;
	text-shadow: 0 .01rem .1rem rgba(255, 255, 255, .5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: transparent;
}
.hh1{
/*	font-family: cursive;*/
	color: darkred;
	font-size:25px;
	font-weight: 700;
	letter-spacing: 5px;
}
.mlr{
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
	font-size: 25px;
}
.mh2{
	padding:8rem 1rem 1rem 1rem;
	font-size: 40px;
}
.dh2{
}
.hrop{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #fff;
	margin: 0% 40% 0% 40%;
	margin-bottom: 3rem;
}
/*
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
*/
.shh{
	font-weight: bolder;
	font-family: cursive;
	color: white; 
	font-style: italic;
}
.bg-gray{
	background-color: #7d6c6c !important;
}
.lcolor{
	color: white;
}
.lcolor:hover{
	transform: scale(1.1);
	color: #000;
}
.Nlcolor{
	color: darkred;
}
.Nlcolor:hover{
	transform: scale(1.05);
	color: black;
}
.flcolor{
	color: white;
}
.flcolor:hover{
	color: white;
	cursor: default;
}
.lsize{
	font-size: 25px;
	margin-bottom: 45px;
	margin-top: 40px;
}
.Nlsize{
	font-size: 25px;
	margin-top: 30px;
}
.bg-dim{
	background-color: #e1e1e1 !important;
  	padding: 1rem !important;
}
.pb{
	padding-bottom: 0.5rem !important;
}
.ih1{
	width: 100px;
	height: 100px;
}
.headimg {
	height: 100vh !important;
	padding-top: 8rem !important
}
.hsize{
	width: 100px;
	height: 100px;
}
.fcolor{
	color: white !important;
	font-size: 20px;
	font-family: sans-serif
}
.fcolor:hover{
	transform: scale(1.1);
}
.limg{
	width: 60px;
	height: 65px;
}
@media screen and (min-width: 768px){
	.nav-masthead .nav-link{
		font-size: 20px;
	}
	.timg{
	background-image: url(Images/2bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black ;
	background-position:right;
	}
	.pb{
	padding-bottom: 3rem !important;
	}
	.bg-dim{
	background-color: #e1e1e1 !important;
  	padding: 3rem !important;
	}
	.mlr{
	margin-left: 2rem !important;
	margin-right: 2rem !important;
	}
	.mr-10{
		margin-right: 5rem !important;
	}
	.lsize{
	font-size: 30px;
	}
	.Nlsize{
	margin-top: 40px;
	font-size: 30px;
	}
}
@media (min-width: 40em) {
  .featurette-heading {
    font-size: 35px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Semi-transparent white overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
 .flower-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    perspective: 500px;
  }

  .flower {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }

  .petal {
    width: 50px;
    height: 100px;
    background-color: #ff6f61;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
    transform-origin: 50% 100%;
  }

  .petal:nth-child(odd) {
    transform: rotateY(90deg);
  }

  .petal:nth-child(even) {
    transform: rotateY(-90deg);
  }

/*
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotateY(0deg); }
	  100% { transform: translate(-50%, -50%) rotateY(360deg); }
}
*/
.Omain{
	bottom: 0;
	background-image: url(Images/1bc4830d7-6f25-4a2e-9634-9e7a0461b420.jpg);
	background-size: cover;
	color: white
}
.PO{
	color: white
}
.Ohrop{
	border: 3px solid #fff;
}
.fn{
	background-color: black !important;
	color: white !important;
}
.bgf-gray{
	background-color: #202020 !important;
}
.cf{
	color: dimgray !important
}
.Mimg{
	background-image: url(Images/13b4933f8-9357-4d7b-b51f-696a71424bb4.jpg);
	background-size: contain;
}
/*
.spinner {
    border: 8px solid #f3f3f3;  Light gray border 
    border-top: 8px solid #3498db;  Blue border for animation 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;  Spin animation 
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/
